{% for n in range (4)%}
    interface {{ interface.name }}{{ n+1 }}
    description {{ interface.description }}    
    {% if n+1 == interface.number %}
        address 192.168.{{ interface.number }}.254/24
        router ospf {{ interface.number }}
        network 192.168.1.0 0.0.0.255
    {% else %}
        {% if interface.number < n+1 %}
            address 172.16.{{ interface.number }}{{ n+1 }}.{{ interface.number }}/24
            network 172.16.{{ interface.number }}{{ n+1 }}.0 0.0.0.255
        {% else %}
            address 172.16.{{ n+1 }}{{ interface.number }}.{{ interface.number }}/24
            network 172.16.{{ n+1 }}{{ interface.number }}.0 0.0.0.255
        {% endif %}
        router ospf 0
    {% endif %}
    no shutdown
    router-id {{ interface.number }}
    active port 1
{% endfor %}

interface lo0
description lo_interface
address 172.16.0.{{ interface.number }}/32