ip routing
router ospf {{ interface.number }}
router-id {{ interface.number }}.{{ interface.number }}.{{ interface.number }}.{{ interface.number }}
no passive-interface default
area {{ interface.number }} range 192.168.{{ interface.number }}.0/24

{% for n in range (4)%}
    interface {{ interface.name }}{{ n+1 }}
    no switchport
    no shutdown
    {% if n+1 == interface.number %}
        ip address 192.168.{{ interface.number }}.254/24
        ip ospf area {{interface.number}}
    {% else %}
        {% if interface.number < n+1 %}
            ip address 172.16.{{ interface.number }}{{ n+1 }}.{{ interface.number }}/24
            ip ospf area 0
            router ospf {{ interface.number }}
            area 0 range 172.16.{{ interface.number }}{{ n+1 }}.0/24
        {% else %}
            ip address 172.16.{{ n+1 }}{{ interface.number }}.{{ interface.number }}/24
            ip ospf area 0
            router ospf {{ interface.number }}
            area 0 range 172.16.{{ n+1 }}{{ interface.number }}.0/24
        {% endif %}
    {% endif %}
    exit
{% endfor %}

interface lo0
ip address 172.16.0.{{ interface.number }}/32