{% for n in range (4)%}
    interface {{ interface.name }}{{ n+1 }}
    description {{ interface.description }}    
    {% if n+1 == interface.number %}
        ip address 192.168.{{ interface.number }}.254/24
        router ospf {{ interface.number }}
        network 192.168.1.0 0.0.0.255 area {{interface.number}}
    {% else %}
        {% if interface.number < n+1 %}
            ip address 172.16.{{ interface.number }}{{ n+1 }}.{{ interface.number }}/24
            router ospf {{ interface.number }}
            network 172.16.{{ interface.number }}{{ n+1 }}.0 0.0.0.255 area 0
        {% else %}
            ip address 172.16.{{ n+1 }}{{ interface.number }}.{{ interface.number }}/24
            router ospf {{ interface.number }}
            network 172.16.{{ n+1 }}{{ interface.number }}.0 0.0.0.255 area 0
        {% endif %}
    {% endif %}
    no shutdown
    no passive-interface default
    exit
{% endfor %}

interface lo0
description lo_interface
ip address 172.16.0.{{ interface.number }}/32