{
    {% for n in range (4) %}
    "interface": {
        "name": "{{ interface.name }}{{ n+1 }}",
        "admin-state": "enable",
        "subinterface": [{
            "index": "1",
            "ipv4": {
                {% if n+1 == number %}
                "address": "192.168.{{ number }}.254/24"
                {% else %}
                "address": "172.16.{{ n+1 }}{{ number }}.{{ number }}/24"
                {% endif %}
            }
        }]
    },
    {% endfor %}
    "interface lo0":{
        "loopback-mode": "true",
        "subinterface": [{
            "index": "1",
            "ipv4": {
                "address": "172.16.0.{{ number }}/32"
            }
        }]
    }
}