{% for n in range (4)%}
    {% if n+1 == number %}
        /ip/address/add address=192.168.{{ number }}.254/24 interface={{ interface.name }}{{ n+1+1 }}
    {% else %}
        {% if number < n+1 %}
            /ip/address/add address=172.16.{{ number }}{{ n+1 }}.{{ number }}/24 interface={{ interface.name }}{{ n+1+1 }}
        {% else %}
            /ip/address/add address=172.16.{{ n+1 }}{{ number }}.{{ number }}/24 interface={{ interface.name }}{{ n+1+1 }}
        {% endif %}
    {% endif %}
{% endfor %}